<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.DrugMapper">
    <select id="selectDrug" resultType="com.paladin.monitor.model.operation.Drug">
        select
        id,
        drug_replace,
        drug_use_num as drugUseNum,
        drug_inventory_num as drugInventoryNum,
        drug_deposit_num as drugDepositNum,
        drug_time as drugTime,
        photo
        from operation_drug
        <where>
            <if test="id != null and id != ''">
                id != #{id}
            </if>
            <if test="drugTime != null">
                and drug_time &lt; #{drugTime}
            </if>
            <if test="stationId != null and stationId != ''">
                and station_id = #{stationId}
            </if>
        </where>
        order by create_time desc
        limit 1
    </select>

    <select id="findDrugPage" resultType="com.paladin.monitor.service.operation.vo.DrugVO">
        SELECT d.id,
        d.drug_use_num AS drugUseNum,
        d.drug_inventory_num AS drugInventoryNum,
        d.drug_deposit_num AS drugDepositNum,
        d.device_state AS deviceState,
        d.drug_replace AS drugReplace,
        d.operation_name AS operationName,
        d.region_code AS regionCode,
        d.photo,
        d.drug_time AS drugTime,
        d.station_device_id AS stationDeviceId,
        d.station_id AS stationId,
        d.is_examine AS isExamine,
        d.rejection,
        sd.name AS stationDeviceName,
        s.name AS stationName
        FROM operation_drug d
        LEFT JOIN station_device sd ON sd.id = d.station_device_id
        LEFT JOIN station s ON s.id = d.station_id
        <where>
            <if test="query.stationId != null and query.stationId != ''">
                d.station_id = #{query.stationId}
            </if>
            <if test="query.stationDeviceId != null and query.stationDeviceId != ''">
                AND sd.id = #{query.stationDeviceId}
            </if>
            <if test="query.operationName != null and query.operationName != ''">
                AND d.operation_name like concat('%', #{query.operationName},'%')
            </if>
            <if test="query.startTime != null">
                AND d.drug_time >= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND d.drug_time &lt; #{query.endTime}
            </if>

            AND s.is_test = 0
            <if test="permission!=null">
                AND
                <trim prefix="(" suffix=")" prefixOverrides="OR">
                    <if test="permission.provinceCode!=null">
                        OR s.province_code = #{permission.provinceCode}
                    </if>
                    <if test="permission.provinceCodes!=null">
                        OR s.province_code in
                        <foreach collection="permission.provinceCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.cityCode!=null">
                        OR s.city_code = #{permission.cityCode}
                    </if>
                    <if test="permission.cityCodes!=null">
                        OR s.city_code in
                        <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.districtCode!=null">
                        OR s.district_code = #{permission.districtCode}
                    </if>
                    <if test="permission.districtCodes!=null">
                        OR s.district_code in
                        <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.stationId!=null">
                        OR s.id = #{permission.stationId}
                    </if>
                    <if test="permission.stationIds!=null">
                        OR s.id in
                        <foreach collection="permission.stationIds" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </trim>
            </if>
        </where>
        order by d.create_time Desc
    </select>

    <select id="getStock" resultType="java.lang.Double">
        SELECT drug_inventory_num
        FROM operation_drug
        WHERE station_device_id = #{stationDeviceId}
        ORDER BY create_time DESC
        LIMIT 1
    </select>
</mapper>