<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.OperationConfigMapper">

    <select id="selectByType" resultType="com.paladin.monitor.service.operation.vo.OperationConfigVO">
        SELECT
        id,
        `name`,
        input_type AS inputType,
        unit,
        select_value AS selectValue,
        operation_type AS operationType,
        sort
        FROM operation_config
        WHERE  operation_type = #{operationType}
        ORDER BY sort ASC
    </select>
</mapper>