<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.OperationRecordDetailsMapper">
    <insert id="insertDetails">
        INSERT INTO operation_record_details (config_id, record_id, `data`) VALUES
        <foreach collection="detailsDTOS" item="item" index="index" separator=",">
            <if test="item.data != null and item.data != ''">
                (#{item.configId}, #{recordId}, #{item.data})
            </if>
        </foreach>
    </insert>

    <resultMap id="operationRecord" type="com.paladin.monitor.service.operation.vo.OperationRecordVO">
        <id property="id" column="id"/>
        <result property="operationType" column="operationType"/>
        <result property="operationName" column="operationName"/>
        <result property="recordTime" column="recordTime"/>
        <result property="regionCode" column="regionCode"/>
        <result property="stationDeviceName" column="stationDeviceName"/>
        <result property="stationDeviceId" column="stationDeviceId"/>
        <result property="stationId" column="stationId"/>
        <result property="stationName" column="stationName"/>
        <result property="photo" column="photo"/>
        <result property="remarks" column="remarks"/>
        <result property="isExamine" column="isExamine"/>
        <result property="rejection" column="rejection"/>
        <collection property="details" javaType="java.util.List"
                    ofType="com.paladin.monitor.service.operation.vo.DetailsVO">
            <result column="detailsId" property="id"/>
            <result column="configId" property="configId"/>
            <result column="name" property="name"/>
            <result column="unit" property="data"/>
            <result column="inputType" property="inputType"/>
            <result column="selectValue" property="selectValue"/>
            <result column="data" property="data"/>
        </collection>
    </resultMap>
    <select id="selectOperationRecord" resultMap="operationRecord">
        SELECT or1.id,
               or1.operation_type    AS operationType,
               or1.operation_name    AS operationName,
               or1.record_time       AS recordTime,
               or1.region_code       AS regionCode,
               sd.name               AS stationDeviceName,
               or1.station_device_id AS stationDeviceId,
               or1.station_id        AS stationId,
               st.name               AS stationName,
               or1.photo             AS photo,
               or1.remarks           AS remarks,
               or1.is_examine        AS isExamine,
               or1.rejection         AS rejection,
               oc.name               AS name,
               oc.unit               AS unit,
               oc.input_type         AS inputType,
               oc.select_value       AS selectValue,
               od.id                 AS detailsId,
               od.config_id          AS configId,
               od.`data`             AS data
        FROM operation_record_details od
        LEFT JOIN operation_record or1 ON od.record_id = or1.id
        LEFT JOIN operation_config oc ON oc.id = od.config_id
        LEFT JOIN station st ON st.id = or1.station_id
        LEFT JOIN station_device sd ON sd.id = or1.station_device_id
        WHERE or1.operation_type = #{query.operationType}
        <if test="query.startTime != null">
            AND or1.record_time &gt;= #{query.startTime}
        </if>
        <if test="query.endTime != null">
            AND or1.record_time &lt; #{query.endTime}
        </if>
        <if test="query.stationId != null and query.stationId != ''">
            AND or1.station_id = #{query.stationId}
        </if>
        <if test="query.stationDeviceId != null and query.stationDeviceId != ''">
            AND or1.station_device_id = #{query.stationDeviceId}
        </if>
        <if test="query.operationName != null and query.operationName != ''">
            AND or1.operation_name like concat('%', #{query.operationName},'%')
        </if>

        AND st.is_test = 0
        <if test="permission != null">
            AND
            <trim prefix="(" suffix=")" prefixOverrides="OR">
                <if test="permission.provinceCode != null">
                    OR st.province_code = #{permission.provinceCode}
                </if>
                <if test="permission.provinceCodes != null">
                    OR st.province_code in
                    <foreach collection="permission.provinceCodes" index="index" item="item" open="(" separator=","
                             close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="permission.cityCode != null">
                    OR st.city_code = #{permission.cityCode}
                </if>
                <if test="permission.cityCodes != null">
                    OR st.city_code in
                    <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator=","
                             close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="permission.districtCode != null">
                    OR st.district_code = #{permission.districtCode}
                </if>
                <if test="permission.districtCodes != null">
                    OR st.district_code in
                    <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator=","
                             close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="permission.stationId != null">
                    OR st.id = #{permission.stationId}
                </if>
                <if test="permission.stationIds != null">
                    OR st.id in
                    <foreach collection="permission.stationIds" index="index" item="item" open="(" separator=","
                             close=")">
                        #{item}
                    </foreach>
                </if>
            </trim>
        </if>
        order by or1.create_time desc
    </select>

    <!--详情查询-->
    <update id="updateDetails">
        UPDATE operation_record_details
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="config_id =case" suffix="end,">
                <foreach collection="detailsDTOS" item="item" index="index">
                    WHEN id = #{item.id} THEN #{item.configId}
                </foreach>
            </trim>
            <trim prefix="data =case" suffix="end,">
                <foreach collection="detailsDTOS" item="item" index="index">
                    WHEN id = #{item.id} THEN #{item.data}
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="detailsDTOS" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="selectDetail" resultMap="operationRecord">
        SELECT or1.id,
               or1.operation_type    AS operationType,
               or1.operation_name    AS operationName,
               or1.record_time       AS recordTime,
               or1.region_code       AS regionCode,
               sd.name               AS stationDeviceName,
               or1.station_device_id AS stationDeviceId,
               or1.station_id        AS stationId,
               st.name               AS stationName,
               or1.photo             AS photo,
               or1.remarks           AS remarks,
               or1.is_examine        AS isExamine,
               or1.rejection         AS rejection,
               oc.name               AS name,
               oc.unit               AS unit,
               oc.input_type         AS inputType,
               oc.select_value       AS selectValue,
               od.id                 AS detailsId,
               od.config_id          AS configId,
               od.`data`             AS data
        FROM operation_record_details od
        LEFT JOIN operation_record or1 ON od.record_id = or1.id
        LEFT JOIN operation_config oc ON oc.id = od.config_id
        LEFT JOIN station st ON st.id = or1.station_id
        LEFT JOIN station_device sd ON sd.id = or1.station_device_id
        WHERE or1.operation_type = #{operationType}
          AND or1.id = #{id}
    </select>
</mapper>