<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.ReportMapper">
    <select id="getReport" resultType="com.paladin.monitor.service.operation.vo.ReportVO">
        SELECT
        r.id,
        r.station_id AS stationId,
        s.`name` AS stationName,
        r.check_unit AS checkUnit,
        r.sampling_time AS samplingTime,
        r.report_time AS reportTime,
        r.report_file AS reportFile,
        r.rejection AS rejection,
        r.is_examine AS isExamine,
        r.update_by  AS reportName
        FROM operation_report r
        LEFT JOIN station s ON s.id = r.station_id
        LEFT JOIN station_device sd ON sd.station_id = s.id
        <where>
            <if test="query.stationId != null and query.stationId != ''">
                r.station_id = #{query.stationId}
            </if>
            <if test="query.stationDeviceId != null and query.stationDeviceId != ''">
                AND sd.id = #{query.stationDeviceId}
            </if>
            <if test="query.startTime != null">
                AND r.report_time >= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND r.report_time &lt; #{query.endTime}
            </if>
            <if test="query.operationName != null and query.operationName != ''">
                AND r.update_by like concat('%',#{query.operationName},'%')
            </if>

            AND s.is_test = 0
            <if test="permission!=null">
                AND
                <trim prefix="(" suffix=")" prefixOverrides="OR">
                    <if test="permission.provinceCode!=null">
                        OR s.province_code = #{permission.provinceCode}
                    </if>
                    <if test="permission.provinceCodes!=null">
                        OR s.province_code in
                        <foreach collection="permission.provinceCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.cityCode!=null">
                        OR s.city_code = #{permission.cityCode}
                    </if>
                    <if test="permission.cityCodes!=null">
                        OR s.city_code in
                        <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.districtCode!=null">
                        OR s.district_code = #{permission.districtCode}
                    </if>
                    <if test="permission.districtCodes!=null">
                        OR s.district_code in
                        <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.stationId!=null">
                        OR s.id = #{permission.stationId}
                    </if>
                    <if test="permission.stationIds!=null">
                        OR s.id in
                        <foreach collection="permission.stationIds" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </trim>
            </if>
        </where>
        ORDER BY r.create_time DESC
    </select>
</mapper>