<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.StationTerminalMapper">
    <resultMap id="stationTerminal" type="com.paladin.monitor.service.operation.vo.StationTerminalVO">
        <result column="stationName" property="stationName"/>
        <result column="stationId" property="stationId"/>
        <collection property="terminalList"
                    ofType="com.paladin.monitor.service.operation.vo.StationTerminalVO$terminal">
            <result column="terminalId" property="terminalId"/>
            <result column="terminalName" property="terminalName"/>
        </collection>
    </resultMap>

    <select id="getStationTerminal" resultMap="stationTerminal">
        select s.name as stationName, s.id as stationId, sd.id as terminalId, sd.name as terminalName
        from station s
        join station_device sd on s.id = sd.station_id
        <where>
            <if test="provinceCode != null and provinceCode != ''">
                s.province_code = #{provinceCode}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and s.city_code = #{cityCode}
            </if>
            <if test="districtCode != null and districtCode != ''">
                and s.district_code = #{districtCode}
            </if>

            AND s.is_test = 0
            <if test="permission!=null">
                AND
                <trim prefix="(" suffix=")" prefixOverrides="OR">
                    <if test="permission.provinceCode!=null">
                        OR s.province_code = #{permission.provinceCode}
                    </if>
                    <if test="permission.provinceCodes!=null">
                        OR s.province_code in
                        <foreach collection="permission.provinceCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.cityCode!=null">
                        OR s.city_code = #{permission.cityCode}
                    </if>
                    <if test="permission.cityCodes!=null">
                        OR s.city_code in
                        <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.districtCode!=null">
                        OR s.district_code = #{permission.districtCode}
                    </if>
                    <if test="permission.districtCodes!=null">
                        OR s.district_code in
                        <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="permission.stationId!=null">
                        OR s.id = #{permission.stationId}
                    </if>
                    <if test="permission.stationIds!=null">
                        OR s.id in
                        <foreach collection="permission.stationIds" index="index" item="item" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </trim>
            </if>
        </where>
    </select>
</mapper>