<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.monitor.mapper.operation.StatisticAnalysisMapper">
    <!-- 巡检统计 -->
    <select id="getDeviceNum" resultType="com.paladin.monitor.service.operation.vo.StatisticVO">
        select s2.name as name, count(or2.id) as value
        from operation_record or2
        left join station s2 on or2.station_id = s2.id
        where or2.operation_type = #{operationType}
        <if test="list != null and list.size() > 0">
            AND or2.station_id in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime != ''">
            AND or2.record_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND or2.record_time &lt; #{endTime,jdbcType=DATE}
        </if>
        group by or2.station_id
    </select>

    <!-- 药剂统计 -->
    <select id="getDrugNum" resultType="com.paladin.monitor.service.operation.vo.DrugStatisticVO">
        select d2.statisticsNum, sum(d.drug_use_num) as drugSum, d2.stationName
        from operation_drug d,(
        select count(dr.id) as statisticsNum, dr.station_id, s.name as stationName
        from operation_drug dr
        left join station s on s.id = dr.station_id
        where dr.drug_deposit_num > 0.0
        <if test="list != null and list.size() > 0">
            and dr.station_id in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime != ''">
            AND dr.drug_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND dr.drug_time &lt; #{endTime,jdbcType=DATE}
        </if>
        group by dr.station_id )d2
        where d.station_id = d2.station_id
        <if test="list != null and list.size() > 0">
            and d.station_id in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime != ''">
            AND d.drug_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND d.drug_time &lt; #{endTime,jdbcType=DATE}
        </if>
        group by d.station_id
    </select>

    <select id="getColumn" resultType="java.lang.String">
        SELECT `name`
        FROM operation_config
        WHERE operation_type = #{operationType}
        order by `name`
    </select>

    <select id="selectStationId" resultType="java.lang.String">
        select id
        from station where deleted = 0
        <if test="provinceCode != null and provinceCode != 0">
            and province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != 0">
            and city_code = #{cityCode}
        </if>
        <if test="districtCode != null and districtCode != 0">
            and district_code = #{districtCode}
        </if>
    </select>

    <select id="getDrugPage" resultType="com.paladin.monitor.service.operation.vo.DrugVO">
        SELECT d.id as id,
        d.drug_use_num AS drugUseNum,
        d.drug_inventory_num AS drugInventoryNum,
        d.drug_deposit_num AS drugDepositNum,
        d.device_state AS deviceState,
        d.drug_replace AS drugReplace,
        d.operation_name AS operationName,
        d.photo,
        d.drug_time AS drugTime,
        d.region_code AS regionCode,
        s.name AS stationName
        FROM operation_drug d
        left join station_device sd on sd.id = d.station_device_id
        left join station s on s.id = d.station_id
        <where>
            <if test="startTime != null and startTime != ''">
                AND d.drug_time &gt;= #{startTime,jdbcType=DATE}
            </if>
            <if test="endTime != null and endTime != ''">
                AND d.drug_time &lt; #{endTime,jdbcType=DATE}
            </if>
            <if test="stationDeviceId != null and stationDeviceId != ''">
                AND sd.id = #{stationDeviceId}
            </if>
        </where>
        order by d.create_time asc
    </select>

    <!--查询药剂月使用总量和月入库量-->
    <select id="getDrugAmount" resultType="com.paladin.monitor.service.operation.vo.DrugStatisticVO">
        select sum(drug_use_num) as drugSum, sum(drug_deposit_num) as stationName
        from operation_drug
        where station_device_id = #{stationDeviceId}
        and drug_time &gt;= #{startTime,jdbcType=DATE}
        and drug_time &lt; #{endTime,jdbcType=DATE}
    </select>

    <!--查询总余氯、总ph 的平均值-->
    <select id="getStatisticAnalysisSum" resultType="java.lang.Double">
        select sum(ord2.`data`) / count(ord2.id)
        from operation_record_details ord2
        left join operation_record or2 on or2.id = ord2.record_id
        left join operation_config oc on oc.id = ord2.config_id
        where or2.operation_type = 'DEVICE_INSPECTION'
        and oc.name = #{name}
        <if test="startTime != null and startTime != ''">
            AND or2.record_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND or2.record_time &lt; #{endTime,jdbcType=DATE}
        </if>
        <if test="stationId != null and stationId != ''">
            and or2.station_id = #{stationId}
        </if>
    </select>

    <resultMap id="getAnalysisDataMap" type="com.paladin.monitor.service.operation.vo.AnalysisDataVO">
        <result column="day" property="day"/>
        <collection property="detail" javaType="list"
                    ofType="com.paladin.monitor.service.operation.vo.AnalysisDataVO$Detail">
            <result column="name" property="name"/>
            <result column="id" property="id"/>
            <result column="avgValue" property="avgValue"/>
        </collection>
    </resultMap>
    <select id="getAnalysisData" resultMap="getAnalysisDataMap">
        SELECT v.name, dad.`day` as day,
        v.id as id,
        dad.avg_value as avgValue
        from data_analysis_day dad
        left join variable v on dad.var_id = v.id
        left join station_device sd on dad.terminal_id = sd.id
        where v.name in ('总余氯值', 'PH值', '累计流量', '应急排放量')
        and sd.id = #{stationDeviceId}
        and dad.`day` like #{dateMonth}
    </select>

    <select id="getAlarm" resultType="com.paladin.monitor.service.operation.vo.AnalysisDataVO$ListName">
        select id, `type` as name
        from alarm
    </select>

    <select id="getStationName" resultType="java.lang.String">
        select s.name
        from station s
        left join station_device sd on s.id = sd.station_id
        where sd.id = #{stationDeviceId}
    </select>

    <!--移动端-->
    <select id="getMobileData" resultType="com.paladin.monitor.service.operation.vo.StatisticVO">
        select s2.name as name, count(or2.id) as value
        from operation_record or2
        left join station s2 on or2.station_id = s2.id
        where or2.operation_type = #{operationType}
        and or2.station_device_id = #{stationDeviceId}
        <if test="startTime != null and startTime != ''">
            AND or2.record_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND or2.record_time &lt; #{endTime,jdbcType=DATE}
        </if>
        group by or2.station_id
    </select>

    <!--  移动端药剂  -->
    <select id="getMobileDrug" resultType="com.paladin.monitor.service.operation.vo.DrugStatisticVO">
        select d2.statisticsNum, sum(d.drug_use_num) as drugSum, d2.stationName
        from operation_drug d,(
            select count(dr.id) as statisticsNum, dr.station_id, s.name as stationName
            from operation_drug dr
            left join station s on s.id = dr.station_id
            where dr.drug_deposit_num > 0.0
            and dr.station_device_id = #{stationDeviceId}
            <if test="startTime != null and startTime != ''">
                AND dr.drug_time &gt;= #{startTime,jdbcType=DATE}
            </if>
            <if test="endTime != null and endTime != ''">
                AND dr.drug_time &lt; #{endTime,jdbcType=DATE}
            </if>
            group by dr.station_id )d2
        where d.station_id = d2.station_id
        and d.station_device_id = #{stationDeviceId}
        <if test="startTime != null and startTime != ''">
            AND d.drug_time &gt;= #{startTime,jdbcType=DATE}
        </if>
        <if test="endTime != null and endTime != ''">
            AND d.drug_time &lt; #{endTime,jdbcType=DATE}
        </if>
        group by d.station_id
    </select>
</mapper>