<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.styx.monitor.mapper.config.ConfigTerminalMapper">

    <select id="findEnabledTerminalConfigList" resultType="com.styx.monitor.service.config.dto.CTerminal">
        SELECT b.id, b.uid, b.variable_ids varIds, b.alarm_ids alarmIds
        FROM config_station a INNER JOIN config_terminal b ON a.id = b.station_id
        WHERE a.enabled = 1 AND a.deleted = 0 AND b.enabled = 1 AND b.deleted = 0 AND a.server_node = #{serverNode}
    </select>

    <select id="getEnabledStationTerminal" resultType="com.styx.monitor.service.config.dto.StationTerminal">
        SELECT b.id, b.name, b.`type`, b.uid, a.id stationId, a.name stationName, a.server_node nodeCode,
        a.province_code provinceCode, a.city_code cityCode, a.district_code districtCode
        FROM config_station a INNER JOIN config_terminal b ON b.station_id = a.id
        WHERE b.id = #{terminalId} AND b.enabled = 1 AND a.enabled = 1
    </select>

    <select id="findEnabledStationTerminalListByNode" resultType="com.styx.monitor.service.config.vo.StationTerminalVO">
        SELECT b.id, b.name, b.`type`, a.id stationId, a.name stationName
        FROM config_station a INNER JOIN config_terminal b ON b.station_id = a.id
        WHERE a.server_node = #{serverNode} AND b.enabled = 1 AND a.enabled = 1
    </select>

    <select id="getStationTerminalDetail" resultType="com.styx.monitor.service.config.vo.TerminalDetailVO">
        SELECT b.id, b.name, b.`type`, a.id stationId, a.name stationName, b.variable_ids variableIds, b.alarm_ids alarmIds
        FROM config_station a INNER JOIN config_terminal b ON b.station_id = a.id
        WHERE b.id = #{terminalId} AND b.enabled = 1 AND a.enabled = 1
    </select>



</mapper>