<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.styx.data.mapper.TerminalDataMapper">

    <select id="findTerminalData" resultType="com.styx.data.service.dto.DataRecord">
        SELECT t.terminal_id AS terminalId, t.is_online AS isOnline, t.work_status AS workStatus, t.create_time AS
        createTime, GROUP_CONCAT(t.vals) AS `values`
        FROM (
        SELECT a.*, CONCAT(b.var_id,':', b.value) AS vals FROM terminal_data a
        LEFT JOIN terminal_data_detail b ON a.id = b.data_id
        WHERE a.day &lt;= #{endDay} AND a.day &gt;= #{startDay} AND a.terminal_id = #{terminalId} AND b.var_id IN
        <foreach collection="vids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>) t GROUP BY t.id
    </select>

    <insert id="insertUploadDataBatch" parameterType="java.util.List">
        INSERT INTO terminal_data VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (null,#{item.terminalId},#{item.isOnline},#{item.workStatus},#{item.createTime},#{item.day},#{item.hour})
        </foreach>
    </insert>
</mapper>
